<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Wizyta</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/products/show.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="container">
    <div class="panel-group col-md-12" style="margin-top:60px">
        <div class="panel panel-primary">
            <div class="panel-heading" th:text="Wizyta">
            </div>
        </div>
        <div class="panel-body">
            <div class="col-md-12 info-body">
                <div class="row info-item col-md-offset-2 col-md-8">
                    <div class="col-md-2"><strong>Typ wizyty:</strong></div>
                    <div class="col-md-4 col-md-offset-2" th:text="${visit.receipt_type}"></div>
                </div>
                <div class="row info-item col-md-offset-2 col-md-8">
                    <div class="col-md-2"><strong>Data wizyty::</strong></div>
                    <div class="col-md-4 col-md-offset-2" th:text="${visit.receipt_date_start}"></div>
                </div>
                <div class="row info-item col-md-offset-2 col-md-8">
                    <div class="col-md-2"><strong>Id produktu:</strong></div>
                    <div class="col-md-4 col-md-offset-2" th:text="${visit.product_id}"></div>
                </div>
                <div class="row info-item col-md-offset-2 col-md-8">
                    <div class="col-md-2"><strong>Id serwisanta:</strong></div>
                    <div class="col-md-4 col-md-offset-2" th:text="${visit.employerId}"></div>
                </div>
                <div class="row info-item col-md-offset-2 col-md-8">
                    <div class="col-md-2"><strong>Id klienta: </strong></div>
                    <div class="col-md-4 col-md-offset-2" th:text="${visit.client_id}"></div>
                </div>
                <div class="row info-item col-md-offset-2 col-md-8">
                    <div class="col-md-2"><strong>Notatka rejestrującego:</strong></div>
                    <div class="col-md-4 col-md-offset-2" th:text="${visit.estimated_description}"></div>
                </div>

            </div>

            <a th:href="@{'/clients/'+${visit.client_id}+'/products/'+${visit.product_id}+'/visits/repair/'+${visit.id}}" sec:authorize="hasAnyAuthority('ADMIN','SERWISANT')">Tryb naprawy</a>
            <a th:href="@{/visits}" >Powrót</a>
        </div>
    </div>
</div>
</body>
</html>