<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">

<head>
    <title>Usuwanie pracownika</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="panel-group" style="margin-top:40px">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span th:utext="${user.name}"></span>
        </div>
        <div class="panel-body">
            <label>Imię:</label>
            <p th:utext="${user.name}"></p>
            <label>Nazwisko:</label>
            <p th:utext="${user.lastName}"></p>
            <label>Email:</label>
            <p th:utext="${user.email}"></p>
        </div>
    </div>
</div>

<form th:action="@{/users/delete/accept/} + ${user.id}" method="get">
    <button class="btn btn-md btn-danger btn-block" name="delete"
            type="Submit">Usuń</button>
</form>


</body>
</html>