<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edycja pracownika</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Edycja użytkownika: <span th:text="${user.Name}"></span>
            </div>
        </div>
        <div class="panel-body">

        <form autocomplete="off" action="#" th:action="@{/users/update}"
              th:object="${user}" method="post" class="form-horizontal"
              role="form">
            <input type="hidden" th:field="*{id}" placeholder="id">
            <div class="form-group">
                <label class="col-md-4 control-label">Imię</label>
                <div class="col-sm-6">
                    <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                           class="validation-message"></label>
                    <input type="text" th:field="*{name}" placeholder="Imię"
                           class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Nazwisko</label>
                <div class="col-sm-6">
                    <label	th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                              class="validation-message"></label>
                    <input type="text" th:field="*{lastName}"
                           placeholder="Nazwisko" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Email: </label>
                <div class="col-sm-6">
                    <input type="text" th:field="*{email}" placeholder="Email"
                           class="form-control" /> <label
                        th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                        class="validation-message"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Rola </label>
                <div class="col-sm-6">
                    <select class="form-control" th:field="*{role_id}" >
                        <option  th:each="sopt:${role_map}"
                                 th:value="${sopt.id}" th:text="${sopt.role}">Japan</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-7 col-md-offset-3">
                    <button type="submit" class="btn btn-primary btn-block">Zapisz</button>
                </div>
            </div>

        </form>
    </div>
    </div>
</div>
</body>
</html>