<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Produkty</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/products/index.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="container">
    <div class="panel-group col-md-12" style="margin-top:60px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Zarządzaj produktami
            </div>
        </div>
        <div class="panel-body">
            <p class="admin-message-text text-center" th:utext="${successMessage}"></p>
            <div class="col-md-12 list-body">
                <div class="row list-title">
                    <div class="col-md-1" ><strong>Id</strong></div>
                    <div class="col-md-2" ><strong>Nazwa</strong></div>
                    <div class="col-md-2" ><strong>Marka</strong></div>
                    <div class="col-md-2" ><strong>Model</strong></div>
                    <div class="col-md-1" ><strong>Numer seryjny</strong></div>
                    <div class="col-md-1"><strong>Id klienta</strong></div>
                    <div class="col-md-1" ><strong></strong></div>

                </div>
                <div class="row list-item" th:each="product:${products}">
                    <div class="col-md-1" th:text="${product.id}"</div>
                <div class="col-md-2" th:text="${product.product_name}" ></div>
                <div class="col-md-2" th:text="${product.brand}"></div>
                <div class="col-md-2" th:text="${product.model}"></div>
                <div class="col-md-1" th:text="${product.serial}"></div>
                <div class="col-md-1" th:text="${product.client_id}"></div>

                <div class="col-md-1">
                    <a th:href="@{'/clients/'+${product.client_id}+'/products/'+${product.id}}" >Zobacz</a>
                    <a th:href="@{'/clients/'+${product.client_id}+'/products/edit/'+${product.id}}" >Edytuj</a>
                    <a th:href="@{'/clients/'+${product.client_id}+'/products/delete/'+${product.id}}" >Usuń</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
