<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Produkty</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/products/show.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="container">
    <div class="panel-group col-md-12" style="margin-top:60px">
        <div class="panel panel-primary">
            <div class="panel-heading" th:text="${product.product_name}">
            </div>
        </div>
        <div class="panel-body">
            <div class="col-md-12 info-body">
                <div class="row info-item col-md-offset-2 col-md-8">
                    <div class="col-md-2"><strong>Nazwa:</strong></div>
                    <div class="col-md-4 col-md-offset-2" th:text="${product.product_name}"></div>
                </div>
                <div class="row info-item col-md-offset-2 col-md-8">
                    <div class="col-md-2"><strong>Marka:</strong></div>
                    <div class="col-md-4 col-md-offset-2" th:text="${product.brand}"></div>
                </div>
                <div class="row info-item col-md-offset-2 col-md-8">
                    <div class="col-md-2"><strong>Model:</strong></div>
                    <div class="col-md-4 col-md-offset-2" th:text="${product.model}"></div>
                </div>
                <div class="row info-item col-md-offset-2 col-md-8">
                    <div class="col-md-2"><strong>Id wlasciciela:</strong></div>
                    <div class="col-md-4 col-md-offset-2" th:text="${product.client_id}"></div>
                </div>
                <div class="row info-item col-md-offset-2 col-md-8">
                    <div class="col-md-2"><strong>Numer seryjny:</strong></div>
                    <div class="col-md-4 col-md-offset-2" th:text="${product.serial}"></div>
                </div>
                <div class="row info-item col-md-offset-2 col-md-8">
                    <div class="col-md-2"><strong>Notatka:</strong></div>
                    <div class="col-md-4 col-md-offset-2" th:text="${product.note}"></div>
                </div>

            </div>



            <a class="btn btn-primary" th:href="@{'/clients/'+${product.client_id}+'/products/edit/'+${product.id}}" sec:authorize="hasAnyAuthority('ADMIN','REJESTRUJACY')"> Edytuj</a>
            <a th:href="@{/products}" >Powrót</a>
            <a th:href="@{'/clients/'+${product.client_id}+'/products/'+${product.id}+'/visits/create'}" sec:authorize="hasAnyAuthority('ADMIN','REJESTRUJACY')">Utwórz wizytę</a>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                Lista wizyt:
            </div>
        </div>

        <div class="row list-title">
            <div class="col-md-2" ><strong>Tryb odbioru</strong></div>
            <div class="col-md-2" ><strong>Data odbioru od klienta</strong></div>
            <div class="col-md-2" ><strong>Data odbioru</strong></div>
            <div class="col-md-2" ><strong>Data naprawy</strong></div>
            <!-- <div class="col-md-1" ><strong>Id klienta</strong></div>-->
            <div class="col-md-1" ><strong>Id serwisanta</strong></div>
            <div class="col-md-1" ><strong>Id klienta</strong></div>
            <div class="col-md-1" ><strong></strong></div>

        </div>
        <div class="row list-item" th:each="visit:${visits}">
        <div class="col-md-2" th:text="${visit.receipt_type}" ></div>
        <div class="col-md-2" th:text="${visit.receipt_date_start}"></div>
        <div class="col-md-2" th:text="${visit.pick_up_date}"></div>
        <div class="col-md-2" th:text="${visit.repair_date}"></div>
        <!--<div class="col-md-2" th:text="${visit.client_id}" ></div>-->
        <div class="col-md-1" th:text="${visit.serwisant_id}"></div>
        <div class="col-md-1" th:text="${visit.client_id}"></div>
        <div class="col-md-1">
            <a th:href="@{'/clients/'+${visit.client_id}+'/products/'+${visit.productId}+'/visits/'+${visit.id}}" >Zobacz</a>

        </div>
    </div>
    </div>
</div>
</body>
</html>